<% provide(:title, 'Roommate.in') %>

  <div class="center hero-unit">
    <h1>Welcome to Roommate.in</h1>

    <h2>
      Finding roommates just got easier!
    </h2>

    <%= link_to "Sign up now!", "#",
                                class: "btn btn-large btn-primary" %>
  </div>
